{% extends "base.html" %}

{% block title %}About Us - Company Website{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">About Our Company</h1>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Our Story</h5>
                <p class="card-text">
                    Founded in 2024, our company has been at the forefront of technological innovation.
                    We've grown from a small startup to a global leader in our industry, serving clients
                    across multiple continents.
                </p>
            </div>
        </div>
        
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Our Team</h5>
                <p class="card-text">
                    Our diverse team of experts brings together decades of combined experience in
                    technology, business, and innovation. We pride ourselves on our collaborative
                    culture and commitment to excellence.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Our Achievements</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Recognized as a top innovator in 2024</li>
                    <li class="list-group-item">Served over 1000+ clients worldwide</li>
                    <li class="list-group-item">Maintained 99.9% client satisfaction rate</li>
                    <li class="list-group-item">Developed 50+ proprietary technologies</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 