{% extends "base.html" %}

{% block title %}Home - Company Website{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4 mb-4">Welcome to Our Company</h1>
        <p class="lead mb-4">We are a leading technology company dedicated to innovation and excellence.</p>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Our Mission</h5>
                        <p class="card-text">To provide innovative solutions that transform businesses and improve lives.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Our Vision</h5>
                        <p class="card-text">To be the global leader in technological innovation and digital transformation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Our Values</h5>
                        <p class="card-text">Integrity, Innovation, Excellence, and Customer Focus drive everything we do.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 